extends base.pug

block style 
    style 
        include ../static/about.css
block nav 
    nav.navbar 
        ul.navbar-ul  
            li.navbar-li 
                img#logo(src="../static/RP.png")
            li.navbar-li#home
                a(href="/") Home 
            li.navbar-li#about
                a(href="/about") About 
            li.navbar-li#contact
                a(href="/contact") Contact us 
            li.navbar-li#search-li 
                input#search(type="search", name="search")
                button#search-btn(type="submit") Search 
block content
    .owners
        .profile-card 
            img(src="../static/Rahul.png")
            h4 Rahul Tanti
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi consequuntur similique perspiciatis dolore ducimus rerum, dolorem nobis vero non assumenda.
        .profile-card 
            img(src="../static/Rahul.png")
            h4 Ramesh Tanti
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi consequuntur similique perspiciatis dolore ducimus rerum, dolorem nobis vero non assumenda.
    .information
        .history 
            ul 
                li.history-1 This Ramesh Pan Pan Shop is Started in 1978.
                li.history-2 This shop is Start by is First Owner <span class="name">Mr Ramesh Tanti</span>.
                li.history-3 When Mr Ramesh Tanti is Starting the shop he take only 100₹ on loan.
                li.history-4 Now the shop is Managed by the <span class="name">Mr Ramesh Tanti</span> & <span class="name">Mr Rahul Tanti</span>.

block foot 
    footer#foot
            | copyright 2021 - 2022 | by Piyush Tanti