doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(http-equiv="refresh", content="1s")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../static/Index.css")
        title= title
    body 
        nav 
            ul 
                li 
                    img#logo(src="../static/RP.png")
                li#home
                    a(href="/") Home 
                li#about
                    a(href="/about") About 
                li#contact
                    a(href="/contact") Contact us 
                li#search-li 
                    input#search(type="search", name="search", placeholder="Search Products")
                    button#search-btn(type="submit") Search 
        .head 
            h3 Welcome to rameshpan.in website.
            h2 Here is Our Shop Item Collection!
        footer#foot
            | copyright 2021 - 2022 | by Piyush Tanti
                         
