@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&family=Righteous&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Ruslan+Display&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#logo{
    height: 35px;
    width: 35px;
}
body{
    background-color: #ececec;
    height: max-content;
    content:"\f002";
}

.navbar{
    display: flex;
    position: sticky;
    top: 0;
}

.navbar-ul{
    padding-left: 10px;
    background-color: rgb(2, 0, 29);
    height: 35px;
    width: 100%;
}
.navbar-li{
    list-style: none;
    float: left;
    line-height: 35px;
    height: 35px;
    transition: .5s;
}
#home:hover, #about:hover, #contact:hover{
    background-color: blue;
}
#about{
    height: 34px;
    border-bottom: 4px solid blue;
}
a{
    text-decoration: none;
    color: white;
    padding: 0 25px;
    font-size: 20px;
    font-family: 'Righteous', cursive;
}
#search-li{
    position: absolute;
    right: 20px;
    margin: 0 auto;
}
#search{
    border: 2px solid rgba(0, 217, 255, 0.747);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#search-btn{
    background-color: aqua;
    border: 0px solid aqua;
    height: 19px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: Meriendo, cursive;
    font-weight: 900;
    padding: 0 5px;
    position: relative;
    top: 1px;
}

#foot{
    position: absolute;
    margin-bottom: 0;
}
.profile-card{
    float: left;
    width: 35%;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid rgb(243, 154, 169);
    border-radius: 8px;
    margin-left: 10%;
    background-color: white;
    z-index: -1;
}
.profile-card img{
    width: 90%;
    padding: 20px 5%;
    border-radius: 5px;
}
.profile-card h4{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: x-large;
    text-align: center;
    text-shadow: 1px 1px 1.5px red;
}
.profile-card p{
    padding: 10px;
    text-align: center;
    font-family: merienda, cursive;
}
.profile-card:nth-child(2){
    position: absolute;
    right: 0;
    margin-right: 10%;
}
.owners{
    display: flex;
    align-items: stretch;
}
.information{
    display: flex;
    justify-content: center;
}
.history{
    border: 1px solid rgb(7, 159, 197);
    margin: 20px 40px;
    width: 88%;
    padding: 30px;
    border-radius: 6px;
    background-color: white;
}
.history ul{
    line-height: 30px;
}
.history ul li{
    font-family: merinda, cursive;
    list-style: circle;
    font-size: 18px;
}
.history .name{
    font-weight: 800;
    color: #ffdc00;
}

